@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    justify-content: end;
    align-items: end;
    min-height: 100vh;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background:#3044a5;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2{
    position:relative;
    color: aliceblue;
    font-weight: 500;
    margin-bottom:15px;
}

footer .container .sec h2::before {
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background:  #ffeb3b;
}

footer .container .sec p {
    color: aliceblue;
}

.sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width:48px;
    height:48px;
    display: grid;
    align-content: center;
    justify-content: center;
    background: #3e56cb;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #6380fe;
    transition: 0.5s;
}

.sci li a .fab {
    color: aliceblue;
    font-size: 20px;
}

.quicklinks {
    position: relative;
}

.quicklinks li {
    list-style: none;
}

.quicklinks li a {
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block
}
.quicklinks li a:hover {
    color: #ffeb3b;
}

.info {
    position: relative;
}

.info li {
    display:grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span:nth-child(1) {
    color: aliceblue;
    font-size: 20px;
}

.info li span {
    color: aliceblue;
}

.info a {
    color: #f7f7f7;
    text-decoration: none;
}

.info a:hover {
    color: #ffeb3b;
}

@media (max-width: 991px) {

    footer {
        padding: 40px;
    }
    footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
